#sqlTables {
  flex: 1;
  margin: 0 2rem;
  position: relative;
  display: block;
}
.tables {
  top: 1rem;
  position: sticky;
}
.tableSQL {
  width: 100%;

  color: var(--grey1);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--grey1);
  height: fit-content;
}

tr:hover {
  background: var(--whiteTr10);
}
td:hover,
th:hover {
  background: var(--whiteTr20);
}
#table0,
#table1,
#table2 {
  font-weight: 1000;
  color: var(--grey1);
}
