#gqlCommands {
  margin-top: 3rem;
  background: var(--backgroundblack);
}
#gqlIco {
  margin: 2rem;
  filter: saturate(0);
  height: 4rem;
  display: block;
  opacity: 0.75;
}
#gqlIco:hover {
  filter: brightness(1.1);
}
.gqlCommandsContainer {
  width: 90%;

  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: column;
  padding-bottom: 2rem;
}
