.funcCard,
.funcCardOpen {
  border-radius: 0.5rem;
  border: 0.2rem solid var(--whiteTr20);
  overflow: hidden;
}
.funcCard > .title:hover {
  background: rgb(148, 148, 148);
}
.funcCardOpen > .title {
  background: rgb(169, 169, 169);
}
.funcCardOpen {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.title {
  font-weight: 1000;
  font-size: 2rem;
  background: rgb(86, 86, 86);
}
.funcCard > .form,
.funcCard > .comment,
.funcCard > .returns,
.funcCard > .example,
.funcCard > .exampleReturns {
  display: none;
}
.form,
.returns {
  color: var(--grey0);
}
.comment {
  background: var(--grey0);
  padding-top:0.1rem;
  padding-bottom: 0.1rem;

}
.example,
.exampleReturns {
  margin: 0rem;
  background: var(--whiteTr20);
}

.form,
.comment,
.returns,
.example,
.exampleReturns {
  text-align: left;
  padding-left: 1rem;
}
.gr{
  color:rgb(67, 119, 67);
}
.tl{
  color:teal;
}
.bl{
  color:rgb(78, 139, 180);
}
.pr{
  color:rgb(92, 56, 158);
}