.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#menu {
  display: flex;
  gap: 1rem;
  background: var(--whiteTr20);
  position: absolute;
  top: 0rem;
  width: 100%;
  user-select: none;
  margin: 0;
  padding: 0;
}
#menu > div:hover {
  color: var(--grey1);
  cursor: pointer;
}
