:root {
  --backgroundblack: rgb(30, 30, 30);
  --whiteTr10: hsla(0, 0%, 100%, 0.1);
  --whiteTr20: hsla(0, 0%, 100%, 0.2);
  --grey0: rgb(139, 139, 139);
  --grey1: rgb(180, 180, 180);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--backgroundblack);
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
